.container1 {
    height: 50px;
}

.container2 {
    height: 500px

}

.container1, .container2{
    background: #1F2937;
    width: 1900px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.box1 {
    font-weight: bold;
    text-align: center;
    height: 35px;
    font-size: 25px;
}

.box1, .box2, .box3, .box4 {
    width: 600px;
    color: #F9FAF8;
}

.box2, .box3, .box4 {
    text-align: right;
    height: 25px;
    font-size: 18px;
}

.box3, .box4 {

    margin-left: -450px;
}
